[Unit]
Description=API Modelo ML
After=network.target

[Service]
User=ezequiel
WorkingDirectory=/var/www/modelo_api
ExecStart=/var/www/modelo_api/venv/bin/uvicorn app:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
